<div class="container">
  <div class="text-center">
    <br>
    <h1>Employee Roster</h1>
    <br>
  </div>
  <div class="row">
    <div *ngFor="let employee of employees">
      <div class="col col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src={{employee.avatar}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{employee.lastName}}, {{employee.firstName}}</h5>
            <p class="card-text">{{employee.comments}}</p>
            <div class="row">
              <div class="col col-sm-6">
                <a routerLink="{{employee.id}}" class="btn btn-info">Provide Feedback</a>
              </div>
              <div class="col col-sm-6">
                <button class="btn btn-danger" (click)="deleteEmployee(employee.lastName, employee.firstName)">Delete
                  Employee
                </button>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <hr style="border: 1px solid gray"/>
</div>
<div class="container">

  <div class="text-center">
    <br>
    <h3>Add new Employee</h3>
    <br>
  </div>
  <form id="newEmployeeForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input required ngModel name="firstName" id="firstName" type="text" class="form-control" #firstName="ngModel"
             (change)="storeFirstName(firstName)">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is required.</div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input required ngModel name="lastName" id="lastName" type="text" class="form-control" #lastName="ngModel"
             (change)="storeLastName(lastName)">
      <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">last Name is required.</div>
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control" #comment="ngModel"
                (change)="storeComment(comment)"></textarea>
    </div>
    <div class="row">
      <div class="col col-sm-5"></div>
      <div class="col col-sm-4">
        <button class="btn btn-primary" type=submit (click)="newEmployee()">Submit</button>
      </div>
      <div class="col col-sm-5"></div>
    </div>
  </form>

</div>

