<div class="container">
  <div class="text-center">
    <br>
  <h1>Employee Roster</h1>
    <br>
  </div>
  <div class="row">
    <div *ngFor="let employee of employees">
      <div class="col col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src={{employee.avatar}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{employee.lastName}}, {{employee.firstName}}</h5>
            <p class="card-text">{{employee.comments}}</p>
            <a routerLink="{{employee.id}}" class="btn btn-info" (click)="newMessage()">Provide Feedback</a>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
